body {
	background-color: #425f57;
	color: #e8e8e8;
	font-family: "Lato", sans-serif;
	font-size: 23px;
	margin: 0;
	height: calc(100vh - 1rem);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	padding: .5rem;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #25423a;
	color: #a8e890;
	padding: 0;
	height: 4.2rem;
	width: 100%;
	border: none;
	border-radius: .6rem;
}

a {
	color: #005e1e;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.tcentralizado {
	margin: 0;
}

h2 {
	color: #a8e890;
}
h3, ul {
	color: #172b26;
}

article {
	display: flex;
	align-items: stretch;
	flex-grow: 1;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

nav {
	background-color: #88ba98;
	padding: 1rem;
	width: 15vw;
	border: none;
	border-radius: .6rem;
}

#navul {
	padding-left: 20px;
}

main {
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

#titulomain {
	margin: 0;
}

footer {
	background-color: #294d40;
	color: #a8e890;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2em;
	width: 100%;
	border: none;
	border-radius: .6rem;
}

#pfooter {
	margin: 0;
	font-weight: bold;
}
