@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	background-color: #425f57;
	color: #e8e8e8;
	font-family: 'Lato', sans-serif;
	font-size: 23px;
	margin: 0;
	height: calc(100vh - 1rem);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	padding: .5rem;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #25423a;
	color: #a8e890;
	padding: 0;
	height: 4.2rem;
	width: 100%;
	border: none;
	border-radius: .6rem;
}

a {
	color: #005e1e;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.tcentralizado {
	margin: 0;
}

h2 {
	color: #a8e890;
}
h3, ul {
	color: #172b26;
}

article {
	display: flex;
	align-items: stretch;
	flex-grow: 1;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

nav {
	background-color: #88ba98;
	padding: 1rem;
	width: 15vw;
	border: none;
	border-radius: .6rem;
	flex-shrink: 0;
}

#navul {
	padding-left: 20px;
}

main {
	padding: 1rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

pre {
	background-color: #608a7e;
	margin: 0;
	padding: 1rem;
	border: none;
	border-radius: .6rem;
}

#fibonacci {
	font-family: 'Fira Mono';
}

#titulomain {
	margin: 0;
}

footer {
	background-color: #294d40;
	color: #a8e890;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.8rem;
	width: 100%;
	border: none;
	border-radius: .6rem;
}

#pfooter {
	margin: 0;
	font-weight: bold;
	color:
}

.contato {
	color: #a8e890;
}
